* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.hero-wrapper,
.footer-upsell {
  padding: 32px;
}

.hero-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.hero-wrapper img {
  height: 390px;
  margin-left: 198px;
  margin-top: -70px;
  position: absolute;
  width: 380px;
}

.hero-wrapper .text-container {
  width: 270px;
}

.text-container,
.footer-upsell {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-wrapper h3,
.footer-upsell h3,
.footer-part-2 h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ff3998;
}

.hero-wrapper h2,
.footer-upsell h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #111111;
}

.hero-wrapper p,
.footer-upsell p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
}

.hero-wrapper button,
.footer-upsell button {
  width: 188px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #111111;
  padding: 20px 30px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff3998, #f1315a, #ff8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

/* Sutvarkyti button border spalva */

.upsell {
  background-image: url(assets/background.svg);
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: 25%, 75%;
  background-size: cover;
  padding: 100px 32px 28px 32px;
}

.upsell h2 {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 16px;
}

.upsell p {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 16px;
}

.press {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 32px;
  margin-right: 0;
}

.press img:nth-child(3),
.press img:nth-child(6) {
  transform: translate(-32px);
}

.press img:nth-child(1),
.press img:nth-child(5) {
  display: none;
}

.showcase {
  padding: 32px;
}

.showcase h2 {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.showcase p {
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 16px;
}

.showcase p a {
  color: #111111;
  font-weight: 500;
}

.items {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.item {
  background-color: #eeeeee;
  border-radius: 20px;
}

.description {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.description-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.description-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.eth {
  white-space: nowrap;
}

.description-left h2 {
  color: #ff8139;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.description-left h3 {
  color: #111111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.description-left h4 {
  color: #777777;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.description-right h2 {
  color: #777777;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.description-right h3 {
  display: inline-block;
  color: #111111;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.eth img {
  display: inline-block;
}

.description-right h4 {
  color: #777777;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.footer-upsell {
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
}

.footer-part-1 {
  padding-left: 32px;
  padding-top: 32px;
}

.footer-part-1 > * {
  margin-bottom: 15px;
}

.social-logo img {
  margin-right: 5px;
}

.footer-part-2 h3,
h4 {
  color: #555555;
}

.footer-part-2 h4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.footer-part-2 {
  padding-left: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-part-3 {
  padding-left: 32px;
  padding-top: 32px;
}

.footer-part-3 h4 {
  color: #999999;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
